/**
 * Custom `@font-face` rules
 *
 * These will be added immediately before Tailwind’s `base` layer.
 */

 /**
 * Custom `@font-face` rules
 *
 * These will be added immediately before Tailwind’s `base` layer.
 */
 @font-face {
     font-family: 'Inter';
     src: url('../../assets/fonts/Inter_18pt-Regular.woff2') format('woff2');
     font-weight: 700;
     font-style: normal;
 }

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter_18pt-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter_18pt-Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter_18pt-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic bold;
}